.leaflet-marker-icon {
  /* размер по умолчанию */
  width: 30px !important;
  height: 30px !important;
  /* центр */
  margin-left: -15px !important;
  margin-top: -15px !important;

  background-repeat: no-repeat;

  color: var(--color-1);
}

.marker-base {
  background-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px #000000) grayscale(3) brightness(1.1);
}

.legend-item {
  height: 100%;
  width: 100%;
  position: relative;
  background-size: 16px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: transparent;
  filter: grayscale(3) brightness(1.1);
}
