.leaflet-control-attribution {
  width: 100%;
  width: 210px;
  height: 60px;
  padding: 0;
  background: transparent !important;
}

.leaflet-control-attribution.leaflet-control,
.leaflet-control-attribution.leaflet-control a {
  color: var(--color-1) !important;
}
