#leafletEasyPrint {
  background-image: url(../../../public/images/icons/download.svg) !important;
  background-size: 18px;
}

.easyPrintSizeMode {
  font-size: 0.7rem;
  color: var(--color-1);
}

.easyPrintSizeMode .CurrentSize::after {
  content: '.png';
}

.easyPrintSizeMode .A4Portrait::after {
  content: 'A4-p';
}

.easyPrintSizeMode .A4Landscape::after {
  content: 'A4-l';
}

.easyPrintHolder .A4Landscape {
  transform: rotate(0deg) !important;
}
