.section {
  width: 100%;
  color: var(--color-1);
  padding: 16px;
  padding-bottom: 8px;
}

.section__lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section__map-switch {
}

.section-br {
  height: 4px;
  margin-top: 60px;
}

.section__adv {
  position: sticky;
  bottom: 0px;
  height: 80px;
  width: calc(100% - 12px);
  padding-top: 4px;
  display: block;
  background-color: var(--bg-color-1);
}

.section__adv:hover .st1 {
  fill: var(--color-2-hover);
  transition: fill 1s;
}
