.section {
  width: 100%;
  color: var(--color-1);
  padding: 16px;
  padding-bottom: 8px;
}

.section__lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section__map-switch {
}

.section__adv {
  background-color: brown;
  margin-top: auto;
  height: 70px;
}

.map-switch__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
