.section {
  width: 100%;
  color: var(--color-1);
  padding: 16px;
  padding-bottom: 8px;
}

.section__lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section__map-switch {
}

.section__adv {
  background-color: transparent !important;
  margin-top: auto;
  height: 50px;
  background-repeat: no-repeat;
  background-image: url('../../../assets/sponsor/ruhunt-full.png');
  background-size: contain;
}
