<div ref="container" class="popup-container">
  <lable ref="typesLable"></lable>
  <select ref="types" class="control-select-type"> </select>
  <br />
  <lable ref="markerLable"></lable>
  <select ref="typeMarkers" class="control-select-type"> </select>
  <br />
  <lable ref="descriptionLable"></lable>
  <br />
  <textarea ref="description" class="control-description"></textarea>
  <input
    ref="file"
    type="file"
    id="file-upload"
    class="control-file-upload hidden"
    accept="image/*"
  />
  <br />
  <button ref="cansel" class="control-button-del"></button>
  <button ref="send" class="control-button-save"></button>
</div>
