.leaflet-control-new-poligon {
  background-image: url(../../public/images/icons/poligon.svg);
  background-size: 24px;
}

.leaflet-control-new-poligon:hover {
  cursor: pointer;
}

.leaflet-control-new-poligon_on .leaflet-control-new-poligon {
  outline: 4px solid crimson !important;
}
