/* popup */

.leaflet-popup-content-wrapper {
  background-color: var(--bg-color-2);
  color: var(--color-1);
  min-width: 200px;
  display: flex;
}

.leaflet-popup-tip {
  background: var(--bg-color-1);
  border-color: var(--bg-color-2);
}

.leaflet-popup-content {
  min-width: 175px;
}

.leaflet-popup-content-wrapper h4 {
  text-transform: uppercase;
}

/* custom popup */

.control-select-type {
  width: 100%;
  height: 29px;
  padding: 5px;
  margin-bottom: 15px;
  float: left;
}

.control-select-type {
  width: 100%;
  height: 29px;
  padding: 5px;
  margin-bottom: 15px;
  float: left;
}

.control-description {
  width: 100%;
  height: 70px;
  padding: 5px;
  margin-bottom: 15px;
  float: right;
  resize: none;
}

.control-button-del {
  width: 49%;
  height: 30px;
  padding: 3px;
  float: left;
}

.control-button-save {
  width: 49%;
  height: 30px;
  padding: 3px;
  float: right;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.control-file-upload::-webkit-file-upload-button {
  background: black;
  color: white;
  border: 1px solid brown;
}

.control-file-upload {
  width: 100%;
  margin-bottom: 15px;
}

.error {
  color: var(--color-2-hover);
}

.success {
  color: var(--color-3);
}
