.marker-extraction-point {
  background-image: url(../../../assets/markers/extraction-point.png);
  background-size: 22px !important;
  background-position-y: 3px;
}

.marker-base.marker-extraction-point-b,
.marker-base.marker-extraction-point-l,
.marker-base.marker-extraction-point-t,
.marker-base.marker-extraction-point-r {
  width: 40px !important;
  height: 40px !important;
  margin-left: -20px !important;
  margin-top: -20px !important;
}

.marker-extraction-point-b::after,
.marker-extraction-point-l::after,
.marker-extraction-point-t::after,
.marker-extraction-point-r::after {
  content: '';
  background-image: url(../../../assets/markers/extraction-point.png);
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: 1px 3px;
  width: 40px;
  height: 40px;
  position: absolute;
}

.marker-extraction-point-l::after {
  transform: rotate(90deg);
}

.marker-extraction-point-t::after {
  transform: rotate(180deg);
}

.marker-extraction-point-r::after {
  transform: rotate(270deg);
}
