/* корекция контейнера */
.leaflet-marker-icon {
  /* размер по умолчанию */
  width: 40px !important;
  height: 40px !important;
  /* центр */
  margin-left: -20px !important;
  margin-top: -20px !important;
  background-size: 38px;
  background-repeat: no-repeat;
}

/* базовая иконка */
.marker-base {
  /* border: 1px solid white; */
  filter: drop-shadow(4px 4px 4px #000000);
  border-radius: 50%;
}

/* */
.legend-item.marker-zone,
.legend-item.marker-water-low,
.legend-item.marker-label {
  color: wheat;
  pointer-events: none !important;
  border: none !important;
  display: none;
  /**/
  /* background-color: lightgreen; */
}

/* ==================== */
/* названия локаций     */
/* ==================== */
.marker-label_text {
  color: white;
  width: 220px;
  position: relative;
  left: -110px;
  opacity: 0.8;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 3px 3px 2px #000000;
  text-align: center;
  /* для отладки */
  /* background-color: lightpink; */
}

/* ==================== */
/* новый маркер         */
/* ==================== */
.marker-new-object {
  background-color: red;
}

.marker-new-object::after {
  content: 'NEW';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-shadow: 1px 2px 4px #000000;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 5px;
}

/* ==================== */
/* пополнение боезапаса */
/* ==================== */
.marker-resupply-point {
  background-color: black;
}

.marker-resupply-point::after {
  background-image: url(../../../public/images/markers/new/1.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 6px;
  left: 5px;
}

.marker-resupply-point-2 {
  background-image: url(../../../public/images/markers/new/1.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-resupply-point-3 {
  background-image: url(../../../public/images/markers/new/1.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
  filter: invert(100%);
}

.marker-resupply-point-4 {
  background-image: url(../../../public/images/markers/new/4.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-resupply-point-5 {
  background-color: lightgreen;
}

.marker-resupply-point-5::after {
  background-image: url(../../../public/images/markers/new/1.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 6px;
  left: 5px;
}

/* ==================== */
/* пасхалка             */
/* ==================== */

.marker-easter-egg {
  background-color: black;
}

.marker-easter-egg::after {
  content: '';
  background-image: url(../../../public/images/markers/new/2.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
}

.marker-easter-egg-2 {
  background-color: gold;
}

.marker-easter-egg-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/2.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
}

.marker-easter-egg-3 {
  background-color: yellow;
}

.marker-easter-egg-3::after {
  content: '';
  background-image: url(../../../public/images/markers/new/2.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
}

.marker-easter-egg-4 {
  background-image: url(../../../public/images/markers/new/2.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-easter-egg-5 {
  background-image: url(../../../public/images/markers/new/2.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-easter-egg-6 {
  background-image: url(../../../public/images/markers/new/3.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  /* filter: saturate(100%); */
  /* filter: hue-rotate(150deg); */
  display: block;
}

/* ==================== */
/* боссы                */
/* ==================== */
