/* корекция контейнера */
.leaflet-marker-icon {
  /* размер по умолчанию */
  width: 30px !important;
  height: 30px !important;
  /* центр */
  margin-left: -15px !important;
  margin-top: -15px !important;
  background-size: 28px;
  background-repeat: no-repeat;

  color: var(--color-1);
}

/* ==================== */
/* для рисования        */
/* ==================== */
.leaflet-div-icon {
  width: 12px !important;
  height: 12px !important;
  margin-left: -6px !important;
  margin-top: -6px !important;
  background-size: 10px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  filter: drop-shadow(3px 3px 3px #000000);
}

/* ==================== */
/* названия локаций     */
/* ==================== */
.marker-base {
  background-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px #000000) grayscale(3) brightness(1.1);
}

.legend-item.marker-zone,
.legend-item.marker-water-low,
.legend-item.marker-label {
  color: wheat;
  pointer-events: none !important;
  border: none !important;
  display: none;
  /**/
  /* background-color: lightgreen; */
}

/* ==================== */
/* названия локаций     */
/* ==================== */
.marker-label_text {
  color: white;
  width: 220px;
  position: relative;
  left: -110px;
  opacity: 0.8;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 3px 3px 2px #000000;
  text-align: center;
  /* для отладки */
  /* background-color: lightpink; */
}

/* ==================== */
/* новый маркер         */
/* ==================== */
.marker-new-object {
  background-color: red;
}

.marker-new-object::after {
  content: 'NEW';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  text-shadow: 1px 2px 4px #000000;
  text-align: center;
  position: absolute;
  top: 8px;
  left: 5px;
}

/* ==================== */
/* пополнение боезапаса */
/* ==================== */

.marker-resupply-point {
  background-image: url(../../../public/images/markers/resupply-point.png);
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 4px 5px;
  /* filter: hue-rotate(0deg); */
}

/* ==================== */
/* пасхалка             */
/* ==================== */

.marker-easter-egg {
  content: '';
  background-image: url(../../../public/images/markers/easter-egg.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 4px 3px;
  /* filter: hue-rotate(280deg); */
}

/* ==================== */
/* башни                */
/* ==================== */

.marker-tower,
.marker-tower1,
.marker-tower2,
.marker-tower3,
.marker-tower4,
.marker-tower5,
.marker-tower6,
.marker-tower7,
.marker-tower8,
.marker-tower9,
.marker-tower10,
.marker-tower11 {
  background-image: url(../../../public/images/markers/tower.png);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 6px 1px;
  /* filter: hue-rotate(150deg); */
}

.marker-tower-o {
  background-image: url(../../../public/images/markers/tower-o.png);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 6px 1px;
  /* filter: hue-rotate(150deg); */
}

.marker-tower0::after {
  /* transform: rotate(-90deg); */
}

.marker-tower1::after {
  /* transform: rotate(-60deg); */
}

.marker-tower2::after {
  /* transform: rotate(-30deg); */
}

.marker-tower3::after {
  /* transform: rotate(0deg); */
}

.marker-tower4::after {
  /* transform: rotate(30deg); */
}

.marker-tower5::after {
  /* transform: rotate(60deg); */
}

.marker-tower6::after {
  /* transform: rotate(90deg); */
}

.marker-tower7::after {
  /* transform: rotate(120deg); */
}

.marker-tower8::after {
  /* transform: rotate(150deg); */
}

.marker-tower9::after {
  /* transform: rotate(180deg); */
}

.marker-tower10::after {
  /* transform: rotate(210deg); */
}

.marker-tower11::after {
  /* transform: rotate(240deg); */
}

/* ==================== */
/* вольеры              */
/* ==================== */

.marker-aviary,
.marker-aviary-d,
.marker-aviary-c {
  background-image: url(../../../public/images/markers/aviary.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 6px 6px;
  /* filter: hue-rotate(40deg); */
}

/* ==================== */
/* касса                */
/* ==================== */

.marker-cash {
  background-image: url(../../../public/images/markers/cash.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 6px 6px;
  /* filter: hue-rotate(250deg); */
}

/* ==================== */
/* подсказка            */
/* ==================== */

.marker-clue {
  background-image: url(../../../public/images/markers/clue.png);
  background-repeat: no-repeat;
  background-size: 27px;
  background-position: 2px 3px;
  /* filter: hue-rotate(80deg); */
}

/* ==================== */
/* спавн                */
/* ==================== */

.marker-spawn-player {
  background-image: url(../../../public/images/markers/spawn-player.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 4px 5px;
}

/* ==================== */
/* выход                */
/* ==================== */

.marker-extraction-point {
  background-image: url(../../../public/images/markers/extraction-point.png);
  background-size: 30px;
}

.marker-extraction-point-b,
.marker-extraction-point-l,
.marker-extraction-point-t,
.marker-extraction-point-r {
  width: 40px !important;
  height: 40px !important;
  margin-left: -20px !important;
  margin-top: -20px !important;
}

.marker-extraction-point-b::after,
.marker-extraction-point-l::after,
.marker-extraction-point-t::after,
.marker-extraction-point-r::after {
  content: '';
  background-image: url(../../../public/images/markers/extraction-point.png);
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: 1px 3px;
  width: 40px;
  height: 40px;
  position: absolute;
}

.marker-extraction-point-l::after {
  transform: rotate(90deg);
}

.marker-extraction-point-t::after {
  transform: rotate(180deg);
}

.marker-extraction-point-r::after {
  transform: rotate(270deg);
}

/* ==================== */
/* боссы                */
/* ==================== */

.marker-boss {
  background-image: url(../../../public/images/markers/boss-all.png);
  background-size: 30px;
}

.marker-boss-all {
  width: 50px !important;
  height: 50px !important;
  margin-left: -25px !important;
  margin-top: -25px !important;
  background-size: 38px;
  background-position: 6px 3px;
  background-image: url(../../../public/images/markers/boss-all.png);
}

.marker-boss-as {
  width: 40px !important;
  height: 40px !important;
  margin-left: -20px !important;
  margin-top: -20px !important;
  background-size: 38px;
  background-position: 2px 9px;
  background-image: url(../../../public/images/markers/boss-as.png);
}

.marker-boss-ab {
  width: 40px !important;
  height: 40px !important;
  margin-left: -20px !important;
  margin-top: -20px !important;
  background-size: 38px;
  background-position: 2px 9px;
  background-image: url(../../../public/images/markers/boss-ab.png);
}

.marker-boss-bs {
  width: 40px !important;
  height: 40px !important;
  margin-left: -20px !important;
  margin-top: -20px !important;
  background-size: 38px;
  background-position: 2px 9px;
  background-image: url(../../../public/images/markers/boss-bs.png);
}

.marker-boss-a {
  background-image: url(../../../public/images/markers/boss-a.png);
  background-size: 25px;
  background-position: 3px 3px;
}

.marker-boss-b {
  background-image: url(../../../public/images/markers/boss-b.png);
  background-size: 21px;
  background-position: 5px 3px;
}

.marker-boss-s {
  background-image: url(../../../public/images/markers/boss-s.png);
  background-size: 25px;
  background-position: 3px 3px;
}
