body .marker-base {
  background-color: rgba(0, 0, 0, 0.15);
}

body .marker-resupply-point {
  filter: hue-rotate(0deg);
}

body .marker-easter-egg {
  filter: hue-rotate(280deg);
}

body .marker-tower,
body .marker-tower1,
body .marker-tower2,
body .marker-tower3,
body .marker-tower4,
body .marker-tower5,
body .marker-tower6,
body .marker-tower7,
body .marker-tower8,
body .marker-tower9,
body .marker-tower10,
body .marker-tower11 {
  filter: hue-rotate(150deg);
}

body .marker-tower-o {
  filter: hue-rotate(150deg);
}

body .marker-aviary,
body .marker-aviary-d,
body .marker-aviary-c {
  filter: hue-rotate(40deg);
}

body .marker-cash {
  filter: hue-rotate(250deg);
}

body .marker-clue {
  filter: hue-rotate(80deg);
}
