/* корекция контейнера */
.leaflet-marker-icon {
  /* размер по умолчанию */
  width: 40px !important;
  height: 40px !important;
  /* центр */
  margin-left: -20px !important;
  margin-top: -20px !important;
  background-size: 38px;
  background-repeat: no-repeat;
}

/* базовая иконка */
.marker-base {
  /* border: 1px solid white; */
  filter: drop-shadow(4px 4px 4px #000000);
  border-radius: 50%;
}

/* */
.legend-item.marker-zone,
.legend-item.marker-water-low,
.legend-item.marker-label {
  color: wheat;
  pointer-events: none !important;
  border: none !important;
  display: none;
  /**/
  /* background-color: lightgreen; */
}

/* ==================== */
/* названия локаций     */
/* ==================== */
.marker-label_text {
  color: white;
  width: 220px;
  position: relative;
  left: -110px;
  opacity: 0.8;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 3px 3px 2px #000000;
  text-align: center;
  /* для отладки */
  /* background-color: lightpink; */
}

/* ==================== */
/* новый маркер         */
/* ==================== */
.marker-new-object {
  background-color: red;
}

.marker-new-object::after {
  content: 'NEW';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-shadow: 1px 2px 4px #000000;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 5px;
}

/* ==================== */
/* пополнение боезапаса */
/* ==================== */
.marker-resupply-point {
  background-color: black;
}

.marker-resupply-point::after {
  background-image: url(../../../public/images/markers/new/resupply-point.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 7px;
  left: 6px;
}

.marker-resupply-point-2 {
  background-image: url(../../../public/images/markers/new/resupply-point.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-resupply-point-3 {
  background-image: url(../../../public/images/markers/new/resupply-point.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
  filter: invert(100%);
}

.marker-resupply-point-4 {
  background-image: url(../../../public/images/markers/new/resupply-point.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-resupply-point-5 {
  background-color: lightgreen;
}

.marker-resupply-point-5::after {
  background-image: url(../../../public/images/markers/new/resupply-point.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 6px;
  left: 5px;
}

/* ==================== */
/* пасхалка             */
/* ==================== */

.marker-easter-egg {
  background-color: black;
}

.marker-easter-egg::after {
  content: '';
  background-image: url(../../../public/images/markers/new/easter-egg.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
}

.marker-easter-egg-2 {
  background-color: gold;
}

.marker-easter-egg-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/easter-egg.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
}

.marker-easter-egg-4 {
  background-image: url(../../../public/images/markers/new/easter-egg.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-easter-egg-5 {
  background-image: url(../../../public/images/markers/new/easter-egg.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-easter-egg-6 {
  background-image: url(../../../public/images/markers/new/easter-egg.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  display: block;
}

/* ==================== */
/* боссы                */
/* ==================== */

/* ==================== */
/* боссы a              */
/* ==================== */

.marker-boss-a {
  background-color: black;
}

.marker-boss-a::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-a.png);
  background-repeat: no-repeat;
  background-size: 35px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
}

.marker-boss-a-2 {
  background-color: lightskyblue;
}

.marker-boss-a-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-a.png);
  background-repeat: no-repeat;
  background-size: 35px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
}

.marker-boss-a-3 {
  background-image: url(../../../public/images/markers/new/boss-a.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-boss-a-4 {
  background-image: url(../../../public/images/markers/new/boss-a.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

/* ==================== */
/* боссы b              */
/* ==================== */

.marker-boss-b {
  background-color: black;
}

.marker-boss-b::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-b.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
}

.marker-boss-b-2 {
  background-color: lightcoral;
}

.marker-boss-b-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-b.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
}

.marker-boss-b-3 {
  background-image: url(../../../public/images/markers/new/boss-b.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-boss-b-4 {
  background-image: url(../../../public/images/markers/new/boss-b.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

/* 2 */

.marker-boss-b-2-1 {
  background-color: black;
}

.marker-boss-b-2-1::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-b2.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
}

.marker-boss-b-2-2 {
  background-color: lightcoral;
}

.marker-boss-b-2-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-b2.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
}

.marker-boss-b-2-3 {
  background-image: url(../../../public/images/markers/new/boss-b2.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position-x: 3px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-boss-b-2-4 {
  background-image: url(../../../public/images/markers/new/boss-b2.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position-x: 3px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

/* 3 */

.marker-boss-b-3-1 {
  background-color: black;
  overflow: hidden;
}

.marker-boss-b-3-1::before {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-b3.png);
  background-repeat: no-repeat;
  background-size: 38px;
  background-position-x: -2px;
  background-position-y: -2px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
}

.marker-boss-b-3-2 {
  background-color: lightcoral;
  overflow: hidden;
}

.marker-boss-b-3-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-b3.png);
  background-repeat: no-repeat;
  background-size: 38px;
  background-position-x: -2px;
  background-position-y: -1px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
}

.marker-boss-b-3-3 {
  background-image: url(../../../public/images/markers/new/boss-b3.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-boss-b-3-4 {
  background-image: url(../../../public/images/markers/new/boss-b3.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}
/* ==================== */
/* боссы s              */
/* ==================== */

.marker-boss-s {
  background-color: black;
}

.marker-boss-s::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-s.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
}

.marker-boss-s-2 {
  background-color: lemonchiffon;
}

.marker-boss-s-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-s.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
}

.marker-boss-s-3 {
  background-image: url(../../../public/images/markers/new/boss-s.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-boss-s-4 {
  background-image: url(../../../public/images/markers/new/boss-s.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-boss-s {
  background-color: black;
}

.marker-boss-s::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-s.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
}

/* 2 */

.marker-boss-s-2-1 {
  background-color: black;
}

.marker-boss-s-2-1::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-s2.png);
  background-repeat: no-repeat;
  background-size: 35px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 9px;
  left: 3px;
}

.marker-boss-s-2-2 {
  background-color: lemonchiffon;
}

.marker-boss-s-2-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/boss-s2.png);
  background-repeat: no-repeat;
  background-size: 35px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 9px;
  left: 3px;
}

.marker-boss-s-2-3 {
  background-image: url(../../../public/images/markers/new/boss-s2.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 0px 5px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-boss-s-2-4 {
  background-image: url(../../../public/images/markers/new/boss-s2.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 0px 5px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

/* ==================== */
/* spawn-player             */
/* ==================== */

.marker-spawn-player {
  background-color: black;
}

.marker-spawn-player::after {
  content: '';
  background-image: url(../../../public/images/markers/new/spawn-player.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
}

.marker-spawn-player-2 {
  background-color: plum;
}

.marker-spawn-player-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/spawn-player.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
}

.marker-spawn-player-4 {
  background-image: url(../../../public/images/markers/new/spawn-player.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-spawn-player-5 {
  background-image: url(../../../public/images/markers/new/spawn-player.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-spawn-player-6 {
  background-image: url(../../../public/images/markers/new/spawn-player.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  display: block;
}

/* 2 */

.marker-spawn-player-2-1 {
  background-color: black;
}

.marker-spawn-player-2-1::after {
  content: '';
  background-image: url(../../../public/images/markers/new/spawn-player2.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 4px;
}

.marker-spawn-player-2-2 {
  background-color: plum;
}

.marker-spawn-player-2-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/spawn-player2.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 4px;
}

.marker-spawn-player-2-4 {
  background-image: url(../../../public/images/markers/new/spawn-player2.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-spawn-player-2-5 {
  background-image: url(../../../public/images/markers/new/spawn-player2.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-spawn-player-2-6 {
  background-image: url(../../../public/images/markers/new/spawn-player2.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  display: block;
}

/* 3 */

.marker-spawn-player-3-1 {
  background-color: black;
}

.marker-spawn-player-3-1::after {
  content: '';
  background-image: url(../../../public/images/markers/new/spawn-player3.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 4px;
}

.marker-spawn-player-3-2 {
  background-color: plum;
}

.marker-spawn-player-3-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/spawn-player3.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 4px;
}

.marker-spawn-player-3-4 {
  background-image: url(../../../public/images/markers/new/spawn-player3.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-spawn-player-3-5 {
  background-image: url(../../../public/images/markers/new/spawn-player3.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-spawn-player-3-6 {
  background-image: url(../../../public/images/markers/new/spawn-player3.png);
  background-repeat: no-repeat;
  background-size: 36px;
  height: 40px;
  width: 40px;
  display: block;
}

/* ==================== */
/* extraction-point     */
/* ==================== */

.marker-extraction-point-1-1 {
  background-color: black;
}

.marker-extraction-point-1-1::after {
  content: '';
  background-image: url(../../../public/images/markers/new/extraction-point.png);
  background-repeat: no-repeat;
  background-size: 25px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 8px;
}

.marker-extraction-point-1-2 {
  background-color: lightgray;
}

.marker-extraction-point-1-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/extraction-point.png);
  background-repeat: no-repeat;
  background-size: 25px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 8px;
}

.marker-extraction-point-1-4 {
  background-image: url(../../../public/images/markers/new/extraction-point.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-extraction-point-1-5 {
  background-image: url(../../../public/images/markers/new/extraction-point.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-extraction-point-1-6 {
  background-image: url(../../../public/images/markers/new/extraction-point.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 40px;
  width: 40px;
  display: block;
}

/* 2 */

.marker-extraction-point-2-1 {
  background-color: black;
}

.marker-extraction-point-2-1::after {
  content: '';
  background-image: url(../../../public/images/markers/new/extraction-point2.png);
  background-repeat: no-repeat;
  background-size: 38px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 2px;
}

.marker-extraction-point-2-2 {
  background-color: lightgray;
}

.marker-extraction-point-2-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/extraction-point2.png);
  background-repeat: no-repeat;
  background-size: 38px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 2px;
}

.marker-extraction-point-2-4 {
  background-image: url(../../../public/images/markers/new/extraction-point2.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-extraction-point-2-5 {
  background-image: url(../../../public/images/markers/new/extraction-point2.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-extraction-point-2-6 {
  background-image: url(../../../public/images/markers/new/extraction-point2.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

/* ==================== */
/* marker-aviary     */
/* ==================== */

.marker-aviary-1-1 {
  background-color: black;
}

.marker-aviary-1-1::after {
  content: '';
  background-image: url(../../../public/images/markers/new/aviary.png);
  background-repeat: no-repeat;
  background-size: 28px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 8px;
  left: 7px;
}

.marker-aviary-1-2 {
  background-color: lightgoldenrodyellow;
}

.marker-aviary-1-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/aviary.png);
  background-repeat: no-repeat;
  background-size: 28px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 8px;
  left: 7px;
  filter: invert(100%);
}

.marker-aviary-1-4 {
  background-image: url(../../../public/images/markers/new/aviary.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-aviary-1-5 {
  background-image: url(../../../public/images/markers/new/aviary.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-aviary-1-6 {
  background-image: url(../../../public/images/markers/new/aviary.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

/* ==================== */
/* marker-clue     */
/* ==================== */

.marker-clue-1-1 {
  background-color: black;
}

.marker-clue-1-1::after {
  content: '';
  background-image: url(../../../public/images/markers/new/clue.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 2px;
}

.marker-clue-1-2 {
  background-color: lightblue;
}

.marker-clue-1-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/clue.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 2px;
  filter: invert(100%);
}

.marker-clue-1-4 {
  background-image: url(../../../public/images/markers/new/clue.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-clue-1-5 {
  background-image: url(../../../public/images/markers/new/clue.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-clue-1-6 {
  background-image: url(../../../public/images/markers/new/clue.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

/* ==================== */
/* marker-cash     */
/* ==================== */

.marker-cash-1-1 {
  background-color: black;
}

.marker-cash-1-1::after {
  content: '';
  background-image: url(../../../public/images/markers/new/cash.png);
  background-repeat: no-repeat;
  background-size: 35px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
}

.marker-cash-1-2 {
  background-color: lightsalmon;
}

.marker-cash-1-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/cash.png);
  background-repeat: no-repeat;
  background-size: 35px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  filter: invert(100%);
}

.marker-cash-1-4 {
  background-image: url(../../../public/images/markers/new/cash.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-cash-1-5 {
  background-image: url(../../../public/images/markers/new/cash.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-cash-1-6 {
  background-image: url(../../../public/images/markers/new/cash.png);
  background-repeat: no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: block;
}

/* ==================== */
/* marker-tower     */
/* ==================== */

.marker-tower-1-1 {
  background-color: black;
}

.marker-tower-1-1::after {
  content: '';
  background-image: url(../../../public/images/markers/new/tower.png);
  background-repeat: no-repeat;
  background-size: 23px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 8px;
}

.marker-tower-1-2 {
  background-color: thistle;
}

.marker-tower-1-2::after {
  content: '';
  background-image: url(../../../public/images/markers/new/tower.png);
  background-repeat: no-repeat;
  background-size: 23px;
  height: 40px;
  width: 40px;
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 8px;
  filter: invert(100%);
}

.marker-tower-1-4 {
  background-image: url(../../../public/images/markers/new/tower.png);
  background-repeat: no-repeat;
  background-size: 25px;
  height: 40px;
  width: 40px;
  filter: invert(100%);
  display: block;
}

.marker-tower-1-5 {
  background-image: url(../../../public/images/markers/new/tower.png);
  background-repeat: no-repeat;
  background-size: 25px;
  height: 40px;
  width: 40px;
  display: block;
}

.marker-tower-1-6 {
  background-image: url(../../../public/images/markers/new/tower.png);
  background-repeat: no-repeat;
  background-size: 25px;
  height: 40px;
  width: 40px;
  display: block;
}
