/* корекция контейнера */
.leaflet-marker-icon {
  /* размер по умолчанию */
  width: 30px !important;
  height: 30px !important;
  /* центр */
  margin-left: -15px !important;
  margin-top: -15px !important;
  background-size: 28px;
  background-repeat: no-repeat;

  color: var(--color-1);
}

/* ==================== */
/* для рисования        */
/* ==================== */
.leaflet-div-icon {
  width: 12px !important;
  height: 12px !important;
  margin-left: -6px !important;
  margin-top: -6px !important;
  background-size: 10px;
  background: white;
  border: 1px solid #red;
  border-radius: 50%;
  filter: drop-shadow(3px 3px 3px #000000);
}

/* ==================== */
/* названия локаций     */
/* ==================== */
.marker-base {
  background-color: rgba(0, 0, 0, 0.15);
  filter: drop-shadow(2px 2px 2px #000000);
  border-radius: 50%;
}

.legend-item.marker-zone,
.legend-item.marker-water-low,
.legend-item.marker-label {
  color: wheat;
  pointer-events: none !important;
  border: none !important;
  display: none;
  /**/
  /* background-color: lightgreen; */
}

/* ==================== */
/* названия локаций     */
/* ==================== */
.marker-label_text {
  color: white;
  width: 220px;
  position: relative;
  left: -110px;
  opacity: 0.8;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 3px 3px 2px #000000;
  text-align: center;
  /* для отладки */
  /* background-color: lightpink; */
}

/* ==================== */
/* новый маркер         */
/* ==================== */
.marker-new-object {
  background-color: red;
}

.marker-new-object::after {
  content: 'NEW';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  text-shadow: 1px 2px 4px #000000;
  text-align: center;
  position: absolute;
  top: 8px;
  left: 5px;
}

/* ==================== */
/* пополнение боезапаса */
/* ==================== */

.marker-resupply-point {
  background-image: url(../../../public/images/markers/new/resupply-point2.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 3px 4px;
  height: 30px;
  width: 30px;
}

/* ==================== */
/* пасхалка             */
/* ==================== */

.marker-easter-egg {
  content: '';
  background-image: url(../../../public/images/markers/new/easter-egg.png);
  background-repeat: no-repeat;
  background-size: 25px;
  height: 30px;
  width: 30px;
}

/* ==================== */
/* башни                */
/* ==================== */

.marker-tower,
.marker-tower0,
.marker-tower1,
.marker-tower2,
.marker-tower3,
.marker-tower4,
.marker-tower5,
.marker-tower6,
.marker-tower7,
.marker-tower8,
.marker-tower9,
.marker-tower10,
.marker-tower11 {
  background-image: url(../../../public/images/markers/new/tower.png);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 6px 1px;
  height: 30px;
  width: 30px;
}

.marker-tower::after {
  content: '◌';
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: -20px;
}
.marker-tower0::after,
.marker-tower1::after,
.marker-tower2::after,
.marker-tower3::after,
.marker-tower4::after,
.marker-tower5::after,
.marker-tower6::after,
.marker-tower7::after,
.marker-tower8::after,
.marker-tower9::after,
.marker-tower10::after,
.marker-tower11::after {
  /* content: url(../../../public/images/markers/tower-arrow.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 4px;
  transform: rotate(-90deg); */
}

.marker-tower0::after {
  transform: rotate(-90deg);
}

.marker-tower1::after {
  /* transform: rotate(-60deg); */
}

.marker-tower2::after {
  /* transform: rotate(-30deg); */
}

.marker-tower3::after {
  /* transform: rotate(0deg); */
}

.marker-tower4::after {
  /* transform: rotate(30deg); */
}

.marker-tower5::after {
  /* transform: rotate(60deg); */
}

.marker-tower6::after {
  /* transform: rotate(90deg); */
}

.marker-tower7::after {
  /* transform: rotate(120deg); */
}

.marker-tower8::after {
  /* transform: rotate(150deg); */
}

.marker-tower9::after {
  /* transform: rotate(180deg); */
}

.marker-tower10::after {
  /* transform: rotate(210deg); */
}

.marker-tower11::after {
  /* transform: rotate(240deg); */
}

/* ==================== */
/* вольеры              */
/* ==================== */

.marker-aviary,
.marker-aviary-d,
.marker-aviary-c {
  background-image: url(../../../public/images/markers/new/aviary.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 6px 6px;
  height: 30px;
  width: 30px;
}

/* ==================== */
/* касса                */
/* ==================== */

.marker-cash {
  background-image: url(../../../public/images/markers/new/cash.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 6px 6px;
  height: 30px;
  width: 30px;
}

/* ==================== */
/* улика                */
/* ==================== */

.marker-clue {
  background-image: url(../../../public/images/markers/new/clue.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 6px 6px;
  height: 30px;
  width: 30px;
}

/* ==================== */
/* спавн                */
/* ==================== */

.marker-spawn-player {
  background-image: url(../../../public/images/markers/new/spawn-player3.png);
  background-repeat: no-repeat;
  background-size: 25px;
  height: 30px;
  width: 30px;
}

/* ==================== */
/* выход                */
/* ==================== */

.marker-extraction-point::after,
.marker-extraction-point-b::after,
.marker-extraction-point-l::after,
.marker-extraction-point-t::after,
.marker-extraction-point-r::after {
  content: '';
  background-image: url(../../../public/images/markers/new/extraction-point2.png);
  background-repeat: no-repeat;
  background-size: 30px;
  height: 30px;
  width: 30px;
  position: absolute;
}

.marker-extraction-point-l::after {
  transform: rotate(90deg);
}

.marker-extraction-point-t::after {
  transform: rotate(180deg);
}

.marker-extraction-point-r::after {
  transform: rotate(270deg);
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/

.marker-boss {
  background-image: url(../../../public/images/markers/boss-all.svg);
  background-size: 15px;
}

.marker-boss-all {
  background-image: url(../../../public/images/markers/boss-all.svg);
}

.marker-boss-as {
  background-image: url(../../../public/images/markers/boss-as.svg);
}

.marker-boss-ab {
  background-image: url(../../../public/images/markers/boss-ab.svg);
}

.marker-boss-bs {
  background-image: url(../../../public/images/markers/boss-bs.svg);
}

.marker-boss-a {
  background-color: lightpink;
}

.marker-boss-b {
  background-color: lemonchiffon;
}

.marker-boss-s {
  background-color: lightblue;
}
