.marker-resupply-point,
.marker-resupply-point-rc,
.marker-resupply-point-b {
  background-image: url(../../../assets/markers/resupply-point.png);
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 4px 5px;
}
