.marker-tower,
.marker-tower1,
.marker-tower2,
.marker-tower3,
.marker-tower4,
.marker-tower5,
.marker-tower6,
.marker-tower7,
.marker-tower8,
.marker-tower9,
.marker-tower10,
.marker-tower11 {
  background-image: url(../../../assets/markers/tower.png);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 6px 1px;
}

.marker-tower-o {
  background-image: url(../../../assets/markers/tower-o.png);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 6px 1px;
}

.marker-tower-h {
  background-image: url(../../../assets/markers/tower-o.png);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 6px 1px;
}

.marker-tower:hover::after,
.marker-tower1:hover::after,
.marker-tower2:hover::after,
.marker-tower3:hover::after,
.marker-tower4:hover::after,
.marker-tower5:hover::after,
.marker-tower6:hover::after,
.marker-tower7:hover::after,
.marker-tower8:hover::after,
.marker-tower9:hover::after,
.marker-tower10:hover::after,
.marker-tower11:hover::after {
  content: '';
  position: absolute;
  display: block;
  width: 400px;
  height: 400px;
  top: -185px;
  left: -185px;
  pointer-events: none;
  background-size: 400px;
  filter: grayscale(0);
  background-repeat: no-repeat;
  background-image: url(./segment.svg);
}

.marker-tower:hover,
.marker-tower1:hover,
.marker-tower2:hover,
.marker-tower3:hover,
.marker-tower4:hover,
.marker-tower5:hover,
.marker-tower6:hover,
.marker-tower7:hover,
.marker-tower8:hover,
.marker-tower9:hover,
.marker-tower10:hover,
.marker-tower11:hover {
  /* filter: grayscale(0); */
}

.marker-tower1::after {
  transform: rotate(30deg);
}

.marker-tower2::after {
  transform: rotate(60deg);
}

.marker-tower3::after {
  transform: rotate(90deg);
}

.marker-tower4::after {
  transform: rotate(120deg);
}

.marker-tower5::after {
  transform: rotate(150deg);
}

.marker-tower6::after {
  transform: rotate(180deg);
}

.marker-tower7::after {
  transform: rotate(210deg);
}

.marker-tower8::after {
  transform: rotate(240deg);
}

.marker-tower9::after {
  transform: rotate(270deg);
}

.marker-tower10::after {
  transform: rotate(300deg);
}

.marker-tower11::after {
  transform: rotate(330deg);
}
