.button-style-alt {
  width: 31px;
  height: 31px;
  margin-left: 11px !important;
  background-color: var(--bg-color-2);
  background-image: url(../../../public/images/icons/style.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border: 1px solid var(--color-2);
  cursor: pointer;
  /* border: 2px solid var(--color-3); */
}

.button-style-alt:hover {
  border: 1px solid var(--color-2-hover);
}
