.marker-label_text {
  color: white;
  width: 220px;
  position: relative;
  left: -110px;
  opacity: 0.8;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 3px 3px 2px #000000;
  text-align: center;
  pointer-events: none;
  /* для отладки */
  /* background-color: lightpink; */
}
