:root {
  --color-1: #ccc;
  --bg-color-1: black;
  --color-2: #7c0e0d;
  --color-2-hover: #d82827;
  --bg-color-2: #222;
}

*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

button, select, option, input, textarea {
  background-color: var(--bg-color-1);
  color: var(--color-1);
  border: 1px solid var(--color-2);
  border-radius: 2px;
}

button {
  text-transform: uppercase;
  cursor: pointer;
}

button:hover, select:hover, input:hover, textarea:hover {
  border-color: var(--color-2-hover);
}

button:focus, select:focus, input:focus {
  outline: none;
  border: 1px solid var(--color-2-hover);
}

hr {
  margin-bottom: 10px;
  border: none;
  color: var(--color-2);
  background-color: var(--color-2);
  height: 2px;
}

#map {
  height: 100vh;
  width: 100vw;
}

.cursor-zoom {
  cursor: zoom-in;
}

.leaflet-control-container .leaflet-control-zoom-in, .leaflet-control-container .leaflet-control-zoom-out, .leaflet-control-container .leaflet-control-measure, .leaflet-control-container .leaflet-control-add-marker, .leaflet-control-layers-toggle {
  color: var(--color-1);
  background-color: var(--bg-color-1);
  border: 1px solid var(--color-2) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.leaflet-control-container .leaflet-control-zoom-in:hover, .leaflet-control-container .leaflet-control-zoom-out:hover, .leaflet-control-container .leaflet-control-measure:hover, .leaflet-control-container .leaflet-control-add-marker:hover {
  background-color: var(--bg-color-1);
  color: var(--color-2-hover);
  fill: var(--color-2-hover);
  border-color: var(--color-2-hover) !important;
  border-bottom: 1px solid var(--color-2-hover);
}

.leaflet-disabled {
  background-color: var(--bg-color-1) !important;
  border: 1px solid var(--color-2) !important;
}

/* login */

.login {
  cursor: pointer;
}

#login-popup {
  position: absolute;
  top: 12px;
  left: 60px;
  z-index: 9999;
}

/* attribution */

.leaflet-control-attribution {
  background-color: var(--bg-color-1) !important;
  color: var(--color-1);
}

.leaflet-control-attribution a {
  color: var(--color-2);
}

.leaflet-control-attribution a:hover {
  color: var(--color-2-hover);
}

/* switch */

.switch-map {
  position: absolute;
  top: 12px;
  left: calc(50% - 155px);
  z-index: 999;
}

.switch-map-button {
  padding: 4px;
  margin-right: 10px;
  width: 145px;
  border-radius: 2px;
}

/* legend */

.leaflet-control-layers-toggle {
  background-image: url(../../public/images/icons/layers.svg);
  border-radius: 2px;
}

.leaflet-control-layers {
  background-color: var(--bg-color-1);
  border: 1px solid var(--color-2) !important;
}

.leaflet-control-layers-expanded {
  padding-left: 10px;
}

.leaflet-control-layers-base label, .leaflet-control-layers-overlays label {
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: var(--bg-color-2);
  border: 1px solid var(--bg-color-2) !important;
  color: var(--color-1);
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.leaflet-control-layers-base label:hover, .leaflet-control-layers-overlays label:hover {
  border-color: var(--color-2-hover) !important;
}

.legend-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
  background-size: 15px;
  color: var(--bg-color-1);
  position: relative;
  background-repeat: no-repeat;
  border: 1px solid white;
  border-radius: 50%;
}

/* popup */

.leaflet-popup {
  border: 2px solid var(--color-2);
  border-radius: 5%;
}

.leaflet-popup-content-wrapper {
  background-color: var(--bg-color-1);
  color: var(--color-1);
  border-radius: 3%;
  min-width: 120px;
}

.leaflet-popup-tip {
  background: var(--bg-color-1);
  border-top: 2px solid var(--color-1);
  border-right: 2px solid var(--color-2);
  border-bottom: 2px solid var(--color-2);
}

.leaflet-popup-content {
  min-width: 175px;
}

.leaflet-popup-content-wrapper h4 {
  text-transform: uppercase;
}

/* tooltip */

.leaflet-tooltip {
  color: var(--color-1);
  background: var(--bg-color-1);
  border: 1px solid var(--color-1);
}

.leaflet-tooltip-right::before {
  border-right-color: var(--color-1);
}

.leaflet-tooltip-left::before {
  border-left-color: var(--color-1);
}

/* contributors */

#contributors {
  cursor: normal;
}

#contributors-popup {
  color: var(--color-1);
  background: var(--bg-color-1);
  border: 2px solid var(--color-2);
  border-radius: 5px;
  position: absolute;
  padding: 10px;
  bottom: 20px;
  right: 0;
  width: 205px;
  z-index: 99999;
}