.leaflet-control-auth {
  width: 30px;
  height: 30px;
  background-color: var(--bg-color-2);
  background-image: url(../../../public/images/icons/auth.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border: 1px solid var(--color-2);
  cursor: pointer;
}

.button-auth_login {
  border: 2px solid var(--color-3);
}

#auth-placeholder {
  position: absolute;
  padding: 8px;
  top: 5px;
  left: 50px;
  z-index: 9999;
}
