.leaflet-tooltip {
  color: var(--color-1);
  background: var(--bg-color-1);
  border: 1px solid var(--bg-color-1);
  text-transform: capitalize;
}

.leaflet-tooltip-right::before {
  border-right-color: var(--bg-color-1);
}

.leaflet-tooltip-left::before {
  border-left-color: var(--bg-color-1);
}
