:root {
  --color-1: #ccc;
  --color-2: #7c0e0d;
  --color-2-hover: #d82827;
  --color-3: #0d7c3f;
  --color-4: #444;
  --bg-color-1: #0c1013;
  --bg-color-2: #151c21;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: var(--bg-color-1);
  border: 1px solid var(--bg-color-2);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-color-2);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--bg-color-2);
}
