.leaflet-marker-icon {
  /* размер по умолчанию */
  width: 20px !important;
  height: 20px !important;
  /* центр */
  margin-left: -10px !important;
  margin-top: -10px !important;
  background-size: 15px;
  background-repeat: no-repeat;
}

/* .marker-example {
  background-color: lightblue;
  border-radius: 50%;
} */

.marker-base {
  border: 1px solid white;
  filter: drop-shadow(4px 4px 4px #000000);
  border-radius: 50%;
}

.marker-label {
  color: wheat;
  pointer-events: none !important;
  width: 5px !important;
  height: 20px !important;
  border: none !important;
  /**/
  /* background-color: lightgreen; */
}

.marker-label_text {
  color: #c9bba1;
  width: 220px;
  position: relative;
  left: -110px;
  opacity: 0.8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 2px 4px #000000;
  text-align: center;
  /**/
  /* background-color: lightpink; */
}

.marker-new-object {
  background-color: red;
}

.marker-resupply-point {
  background-color: lightgreen;
}

.marker-resupply-point::after {
  content: "+";
  color: green;
  font-size: 24px;
  position: absolute;
  top: -9px;
  left: 2px;
}

.marker-boss {
  background-image: url(../../../public/images/markers/boss-all.svg);
  background-size: 20px;
}

.marker-boss-all {
  background-image: url(../../../public/images/markers/boss-all.svg);
  width: 26px !important;
  height: 26px !important;
  margin-left: -13px !important;
  margin-top: -13px !important;
  background-size: 25px;
}

.marker-boss-as {
  background-image: url(../../../public/images/markers/boss-as.svg);
  width: 26px !important;
  height: 26px !important;
  margin-left: -13px !important;
  margin-top: -13px !important;
  background-size: 25px;
}

.marker-boss-ab {
  background-image: url(../../../public/images/markers/boss-ab.svg);
  width: 26px !important;
  height: 26px !important;
  margin-left: -13px !important;
  margin-top: -13px !important;
  background-size: 25px;
}

.marker-boss-bs {
  background-image: url(../../../public/images/markers/boss-bs.svg);
  width: 26px !important;
  height: 26px !important;
  margin-left: -13px !important;
  margin-top: -13px !important;
  background-size: 25px;
}

.marker-boss-a {
  background-color: lightpink;
}

.marker-boss-b {
  background-color: lemonchiffon;
}

.marker-boss-s {
  background-color: lightblue;
}

.marker-spawn-player {
  background-color: plum;
}

.marker-extraction-point {
  background-color: whitesmoke;
}

.marker-easter-egg {
  background-color: gold;
}

.marker-easter-egg::after {
  content: "★";
  font-size: 22px;
  position: absolute;
  top: -8px;
  left: 0px;
  color: brown;
}

.marker-aviary {
  background-color: lightyellow;
}

.marker-aviary::after {
  content: "⊗";
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  top: -4px;
}

.marker-tower, .marker-tower1, .marker-tower2, .marker-tower3, .marker-tower4, .marker-tower5, .marker-tower6, .marker-tower7, .marker-tower8, .marker-tower9, .marker-tower10, .marker-tower11 {
  background-color: lightcoral;
}

.marker-tower::after, .marker-tower1::after, .marker-tower2::after, .marker-tower3::after, .marker-tower4::after, .marker-tower5::after, .marker-tower6::after, .marker-tower7::after, .marker-tower8::after, .marker-tower9::after, .marker-tower10::after, .marker-tower11::after {
  content: "🠉";
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  top: -3px;
  left: 1px;
  color: white;
  transform: rotate(0deg);
}

.marker-tower1::after {
  transform: rotate(30deg);
}

.marker-tower2::after {
  transform: rotate(60deg);
}

.marker-tower3::after {
  transform: rotate(90deg);
}

.marker-tower4::after {
  transform: rotate(120deg);
}

.marker-tower5::after {
  transform: rotate(150deg);
}

.marker-tower6::after {
  transform: rotate(180deg);
}

.marker-tower7::after {
  transform: rotate(210deg);
}

.marker-tower8::after {
  transform: rotate(240deg);
}

.marker-tower9::after {
  transform: rotate(270deg);
}

.marker-tower10::after {
  transform: rotate(300deg);
}

.marker-tower11::after {
  transform: rotate(330deg);
}

.marker-clue {
  background-color: skyblue;
}

.marker-clue::after {
  content: "◌";
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: -15px;
}

.marker-cash {
  background-color: lightsalmon;
  border: 1px solid white;
  filter: drop-shadow(4px 4px 4px #000000);
  border-radius: 50%;
}

.marker-cash::after {
  content: "$";
  font-size: 17px;
  position: absolute;
  top: -3px;
  left: 4px;
}