.sidebar {
  background-color: var(--bg-color-1);
  border-right: 1px solid var(--color-4);

  position: fixed;
  height: 100vh;
  width: 260px;

  transform: translateX(-260px);
  transition: transform 0.5s;

  z-index: 10;
}

.sidebar_show {
  transform: translateX(0px);
}

.sidebar_show .sidebar__toggle svg {
  transform: rotate(180deg);
}

.sidebar__toggle {
  background-color: var(--bg-color-1);
  border-top: 1px solid var(--color-4);
  border-bottom: 1px solid var(--color-4);
  border-right: 1px solid var(--color-4);

  position: absolute;
  width: 30px;
  height: 50px;
  top: 50%;
  left: 259px;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.sidebar__toggle svg {
  fill: var(--color-1);
}

.sidebar__toggle:hover {
  cursor: pointer;
}

.sections {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}
